.header{
   grid-area: header;
}
  
.nav{
   grid-area: nav;
}
  
.main{
   grid-area: main;
}
  
.adv{
   grid-area: adv;
}
  
.footer{
   grid-area: footer;
}
.aside{
    grid-area: aside;
}
.header , .adv , .aside , .nav , .footer , .main{
    background-color: #f46;
}
.grid-container{
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr , 4fr , 1fr;
    grid-template-areas: 
    "header header header header"
    "nav main main aside"
    "nav main main adv"
    "footer footer footer footer"
    ;
}
@media screen and (max-width: 576px) {
    .grid-container{
        grid-template-columns: 1fr;
        grid-template-areas: 
        "header"
        "nav "
        "main"
        "aside"
        "footer"
        "adv"
        ;
    }
}
@media screen and (min-width:577px) and (max-width:992px) {
   
    .grid-container{
        grid-template-columns: 1fr , 2fr;
        grid-template-areas:  
        "header header "
        "nav "
        "main"
        "aside"
        "footer"
        ;
    }
}