*{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,500;1,400&display=swap');
header{
    background-image: url(img/banner/banner3.png);
    height: 630px;
    width: 100%;
    display: flex;
    
}
.nothing{
    width: 65%;
}
.banner{
  width: 25%;
  margin-top: 200px;
  text-align: right;
}
.banner-title{
   font-size: 45px;
   padding: 10px 0;
   color: #fff;
}
.banner-discription{
   color: #fff;
   margin: 20px 0px;
}
.paimary-btn{
    height: 40px;
    width: 100px;
    border: none;
    background: #fff;
    color: #005FAC;
    border-radius: 5px;
    font-size: 13px;
    font-weight: 600;
}
/* previous year my failure section design  */
.Yfailur{
    display: flex;
    margin: 130px 70px;
}
.failur-iteam{
    margin-top: 450px;
    width: 35%;
}
.Mainimg{
    width: 60%;
    height: 70%;
}
.ftitle{
    font-size: 35px;
    margin-bottom: 30px;
}
.fdiscription{
   line-height: 20px;
   width: 400px;
   text-align: justify;
}
.f-list{
    text-decoration: none;
    list-style: none;
    margin-top: 20px;
}
.f-list li{
    padding: 10px 0;
}
.fa-solid{
    padding-right: 20px;
    color: green;
}
/* this year my planing design  */
.plan{
    width: 100%;
    margin-top: 130px;
}
.title{
    text-align: center;
}
.plan-container{
   padding: 0px 200px;
   display: flex;
}
.plan-box{
    padding: 10px 40px;
    margin-top: 30px;
    margin-left: 20px;
}
.plan-title{
  margin-bottom: 10px; 
  margin-top: 10px;   
}
.plan-caption{

}