*{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,500;1,400&display=swap');
header{
    background-image: url(img/banner/banner3.png);
    height: 630px;
    width: 100%;
    display: flex;
    
}
.nothing{
    width: 65%;
}
.banner{
  width: 25%;
  margin-top: 200px;
  text-align: right;
}
.banner-title{
   font-size: 45px;
   padding: 10px 0;
   color: #fff;
}
.banner-discription{
   color: #fff;
   margin: 20px 0px;
}
.paimary-btn{
    height: 40px;
    width: 100px;
    border: none;
    background: #fff;
    color: #005FAC;
    border-radius: 5px;
    font-size: 13px;
    font-weight: 600;
}
/* previous year my failure section design  */
.Yfailur{
    display: flex;
    margin: 130px 70px;
}
.failur-iteam{
    margin-top: 450px;
    width: 35%;
}
.Mainimg{
    width: 60%;
    height: 70%;
}
.ftitle{
    font-size: 35px;
    margin-bottom: 30px;
}
.fdiscription{
   line-height: 20px;
   width: 400px;
   text-align: justify;
}
.f-list{
    text-decoration: none;
    list-style: none;
    margin-top: 20px;
}
.f-list li{
    padding: 10px 0;
}
.fa-solid{
    padding-right: 20px;
    color: green;
}
/* this year my planing design  */
.plan{
    width: 100%;
    margin-top: 130px;
}
.title{
    text-align: center;
}
.plan-container{
   padding: 0px 200px;
   display: flex;
}
.plan-box{
    padding: 10px 40px;
    margin-top: 30px;
    margin-left: 20px;
}
.plan-title{
  margin-bottom: 10px; 
  margin-top: 10px;   
}
/* ALBUM SECTION BANNER */
.album-banner{
   margin: 130px 40px;
}
.box{
    
    background-image: url(img/gradient1.png);
    background-repeat: no-repeat;
    position: absolute;
    background-position: center;
    background-size: cover;
    height: 400px;
    width: 100%;
    border-radius: 10px;
}
.album-bannerimg{
    background: linear-gradient(90deg, #005FAC -1.14%, rgba(0, 95, 172, 0) 98.86%);
    height: 400px;
    padding: 40px;
    width: 60%;    
}
.album-title{
   margin: 40px 60px;
   margin-top: 150px;
   width: 330px;
   font-size: 30px;
   color: #fff;
   font-weight: 600;
}
.gradient{
    position: relative;
    background-repeat: no-repeat;
}

.text-box{
    height: 400px;
    width: 100%;
    background-image: url(img/watch.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    border-radius: 10px;

}
.Apaimary-btn{
    height: 40px;
    width: 100px;
    border: none;
    background: #fff;
    color: #005FAC;
    border-radius: 5px;
    font-size: 13px;
    font-weight: 600;
    margin-left: 60px;
}
.Apaimary-btn a{
    text-decoration: none;
    color: #005FAC;
}
/* ALBUM SECTION BENNAR */
.footer{
    margin-top: 130px;
    color: #fff;
    background: #151414;
    height: 400px;
}
.footer-box{
  display: flex;
}
.footer-info{
  width: 40%;
  padding: 40px 30px;
  margin: 0 70px;
  padding-left: 50px;
  align-items: center;

}
.footer-message{
   width: 40%;
   padding: 40px 30px;
}
.footer-title{
  font-size: 40px;
  margin-bottom: 20px;
}
.footer-pragrap{
 font-size: 10px;
 width: 250px;
 line-height: 18px;
 margin-bottom: 20px;
}
.email{
  font-size: 10px;
  margin-bottom: 15px;
}
.phn{
 font-size: 10px;
 margin-bottom: 15px;
}
.footer-subtitle{
    font-size: 30px;
    margin-bottom: 20px;
   
}
.emailf{
    width: 325px;
    height: 34px;
    border: 1px solid #fff;
    background-color: black;
    color: #fff;
    margin-bottom: 20px;
}
.fpaimary-btn{
    height: 40px;
    width: 100px;
    border: none;
    background: #005FAC;
    color: #fff;
    border-radius: 5px;
    font-size: 13px;
    font-weight: 600;
}